
body
{
    background-color:#EAF6F6;
}
hr
{
    background-color: EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
} 
img
{
    height: auto;
}