/********************TAG SELECTORS**********************/
body
{
    background-color:#EAF6F6;
}
h1{
    color: #66bfbf;

}
h3
{
    color: #66bfbf;
    
}
hr
{
    background-color: EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    
} 
img:hover
{
    background-color:red;
    width: 130px;
}
/********************TAG SELECTORS**********************/

.bacon
{
background-color: aqua;

}
.broccoli
{
    background-color: aquamarine;
    
}
/******************ID SELECTORS***********************/
#heading
{
    color: rebeccapurple;
}
.circular
{
    border-radius: 100%;
}
#big
{
    font-size: 100px;
}