body
{
    margin: 0;
    text-align: center;
}
h1{
    
    margin-top: 0;
}

/* img
{
    padding: 0px;
    border: 0px;
    margin: 0px;
} */
.top-container
{
    background-color: #e4f9f5;  
    /* padding: 20px; */
    position: relative;
    padding-top: 100px;
    

}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color:blueviolet;

}
.pro
{
    text-decoration: underline;
}

.top-cloud
{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud
{
    position: absolute;
    left: 300px;
    bottom: 300px;
}