body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* font-size: 25px; */
    background-color:#EAF6F6 ;
    
    
}
h1{
    font-size: 5.625rem;
    font-family: 'Sacramento', serif;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    line-height: 2;
}
h2
{
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;


}

h3
{
    font-family: 'Montserrat', serif;
    color: #66BFBF;
}
/* img
{
    padding: 0px;
    border: 0px;
    margin: 0px;
} */
.top-container
{
    background-color: #e4f9f5;  
    /* padding: 20px; */
    position: relative;
    padding-top: 10%; 
    
   
    

}
.middle-container
{
 padding-top: 50px;   
 background-color: white;
 
}
.bottom-container
{
    
   background-color: #66BFBF;
   height: 200px;
   margin: 0px;

}
.pro
{
    text-decoration: underline;
}

.top-cloud
{
    position: absolute;
    right: 20%;
    top: 9%;
}

.bottom-cloud
{
    position: absolute;
    left: 20%;
    bottom: 40%;
    
}
.footer-link
{
    color: #11999E;
}
.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
  
}
.code-img
{
width: 25%;
float: left;
margin-right: 30px;
}
.chili-img
{
    width: 25%;
    float: right;
    margin-left: 30px;
}
hr
{
    background-color: EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    
} 
.middle-container p
{
 color: #40514E;
 
}
.contact-me
{
   line-height: 30px;
}