body
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
h1{
    font-family: 'Sacramento', serif;
    
    margin-top: 0;
}
h2
{
    font-family: 'Montserrat', serif;

}

h3
{
    font-family: 'Montserrat', serif;

}
/* img
{
    padding: 0px;
    border: 0px;
    margin: 0px;
} */
.top-container
{
    background-color: #e4f9f5;  
    /* padding: 20px; */
    position: relative;
    padding-top: 100px;
    

}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color:blueviolet;

}
.pro
{
    text-decoration: underline;
}

.top-cloud
{
    position: absolute;
    right: 20%;
    top: 50px;
}

.bottom-cloud
{
    position: absolute;
    left: 20%;
    bottom: 300px;
}