body
{
    margin: 0px;
}
h1{
    margin-top: 0px;
}

/* img
{
    padding: 0px;
    border: 0px;
    margin: 0px;
} */
.top-container
{
    background-color: #e4f9f5;  
    /* padding: 20px; */

}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color:blueviolet;

}
.pro
{
    text-decoration: underline;
}